.home-div{
    width: 100%;
    max-width: 900px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.theme-switch-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: var(--txt-low-contrast);
}
.logo{
    font-size: 1.625rem;
}
.search-bar-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.18);
    width: 100%;
    margin-top: 28px;
    padding: 12px 16px;
}
.search-input{
    border: 0px;
    height: 40px;
    width: 100%;
    font-size: 11px;
}
.search-input::placeholder{
    color: #4b6a9b;
}
.search-input:focus{
    outline: none;
}
.search-btn{
    color: #fff;
    background-color: var(--primary);
    border: 0px;
    border-radius: 10px;
    font-weight: 700;
    padding: 12px 8px;
    cursor: pointer;
}
.search-logo-input{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 12px;
    width: 100%;
}
.main-div{
    margin-top: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.18);
    row-gap: 12px;
    padding: 32px 0px;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.user-details-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 24px;
}
.user-stats-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
}
.user-details-bottom{
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 12px;
}
.detail{
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 14px;
}
.detail:first-child{
    column-gap: 18px;
}
.blog{
    max-width: 270px;
    overflow: hidden;
    text-decoration: none;
    color: #2b3442;
}
.blog:hover{
    text-decoration: underline;
}
.user-name{
    color: #2b3442;
    font-weight: 700;
    font-size: 16px;
}
.user-login{
    color:#0079ff;
    text-decoration: none;
}
.joined{
    color: #697c9a;
}
.not-found{
    transition: 0.6s;
    color: red;
    font-weight: 700;
    width: 100%;
    margin-top: 12px;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.not-hidden{
    opacity: 1;
}
.hidden{
    opacity: 0px;
}
.bio{
    text-align:center;
    max-width: 70%;
}

@media (min-width:425px) {
    .user-details-bottom{
        display: grid;
        width: fit-content;
        gap: 24px;
        grid-template: 
            'detail detail'
            'detail detail'
        ;
    }
    .search-input{
        font-size: 18px;
    }
    .search-btn{
       font-size: 18px;
    }
}